@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600&display=swap');
/* font-family: 'Poppins', sans-serif; */
/* ------------------------------------------- */

/* Varible CSS */
/* TEXT settings  */
:root{
    --body-font : 'Poppins', sans-serif;
    --big-font-size : 3rem;
    --h1-font-size : 1.5rem;
    --h2-font-size : 1.25rem;
    --normal-font-size : 0.938rem;
    --small-font-size : 0.75rem;
}
/* Colores */
:root{
    --purple-color : rgb(134, 0, 171);
    --white-color :rgb(255, 255, 255) ;
    --black-color : rgb(0, 0, 0);
    
    --gray-color : #F0F1F3 ;

    --blue-logo-color : rgb(0,86,255);
    --purple-logo-color : rgb(248,0,254);
}

/*---------------------------- Base -------------------------------*/
*,::before,::after{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0 0 0 0;
    font-family:var(--body-font) ;
    /* font-size: var(--normal-font-size); */
    /* color: var(--dark-border-color); */
    /* line-height: 1.6; */
}