
.rm_margin{
    margin: 0px;
}
/* #hero{
    background-image: url("../images/hero-wide.jpg");
    background-repeat: no-repeat;
    background-size: 1525px;
    height: 120vh;
} */

#hero_intro{
    font-size: 2.5rem;
    color: white;
}
#hero_intro > h2{
    margin: 20px 0px;
}
#hero_first_line{
    color: white;
    width: 452px;
    font-size: 1.2rem;
}
#hero_second_line{
    color: white;
    font-size: 1.7rem;
    margin: 34px 0px;
    width: 481px;
}
#hero_button{
    color: white;
    margin: 72px 0px;
}
#hero_button > span{
    display: block;
    font-weight: 200;
    margin: 25px 0px;
}
#first_button{
    text-decoration: none;
    color: white;
    background-color: rgb(137,0,171);
    padding: 7px 12px;
    margin: 0px 25px;
    border-radius: 7px;
    margin-left: 0px;
    transition: 0.3s;
}
#first_button:hover{
    background-color: rgb(107, 0, 134);
    color: rgb(213, 213, 213);
}
#second_button{
    text-decoration: none;
    color: rgb(137,0,171);
    background-color: white;
    padding: 7px 12px;
    margin: 0px 25px;
    border-radius: 7px;
    transition: 0.3s;
}
#second_button:hover{
    background-color: rgb(213, 213, 213);
    color: rgb(107, 0, 134);

}
/*----------------------------------------*/
#courses_section{
    background-color: #dadada;
    height: 100vh;
    margin-top: 13rem;
    padding: 76px 86px;
}
#courses_section > h3{
    font-size: 2.5rem;
}
#courses_section > p{
    font-size: 1.2rem;
    color: rgb(122,127,131);
}
#courses_container{
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-gap: 1.5rem;
}
#courses_item{
    background-color: aliceblue;
    flex-direction: column;
    display: flex;
    width: 18rem;
}
#info_card{
    padding: 10px 15px;
}
#courses_name{
    font-size: 1.2rem;
    font-weight: 600;
    transition: 0.3s;
}
#courses_name:hover{
    color: purple;
}
#courses_tag{
    /* display: block; */
    color: white;
    font-size: 12px;
    float: right;
    margin-right: 1.3rem;
    font-weight: 400;
    background-color: var(--blue-logo-color);
    padding: 1px 10px;
    border-radius: 3px;
}
#courses_by{
    display: block;
    font-weight: 400;
    font-size: 13px;
}
#courses_desc{
    font-weight: 200;
    font-size: 13px;
    color: rgb(33, 33, 33);
}
#fufi{
    margin: 17px 0px; 
}
#courses_item a img{
    transition: 0.3s;
}
#courses_item a img:hover{
    opacity: 0.9;
}
.user_count{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 200;
}
.mar{
    margin: 0px 4px;
}
#sol_img{
    width: 26px;
}
.btn{
    display: flex;
    padding: 4px 6px;
    border: solid;
    text-decoration: none;
    border-radius: 6px;
    margin: 0px 10px;
}
